doctype html(lang='en')
head
	meta(charset='utf-8')
	|     
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	|     
	meta(name='description', content='')
	|     
	meta(name='author', content='Dashboard')
	|     
	title Contador

	link(type="text/css" rel="stylesheet" href="prod/production.min.css"  media="screen,projection")
	
	body.grey.lighten-4
		
		header
			nav.top-nav.light-blue
				.nav-wrapper
					a.brand-logo.center(href="#")
						img(src="img/logoflux1.png")

					a.button-collapse.top-nav.full.hide-on-large-only(href="#" data-activates="nav-mobile")
						i.mdi-navigation-menu
					ul.right
						li 
							a.waves-effect.waves-light(href="/auth/logout") Salir
	
			ul#nav-mobile.side-nav.fixed
				li.logo
					div.logo-container
						.circulo.indigo.accent-4
						h4 Hola, #{user[0].username}
				li
					div.waves-effect
						a(href="#") Status del día
				li
					div.waves-effect
						a(href="#") Historial


		main
			
			.row
				.col.s12.m12.l3
					.row
						.col.s6.m3.l12
							.actuales.light-blue.accent-2.card.dashboard-panel
								span#visitantes-actuales 0
								h6 Visitantes actuales
						.col.s6.m3.l12
							.actuales.dashboard-panel.card.deep-purple.darken-2
								span#visitantes-totales 0
								h6 Visitantes totales
						.col.s12.m3.l12
							.dashboard-panel.card.panel.graph-max
								#graph-max.ct-square
								h6 Máximo y promedio del día


				.col.s12.m12.l9
					.dashboard-panel.card-panel.graph-dia.grey.lighten-5
						h5 Afluencia 
						h6 #{diaObj[0].dia}
						#graph-dia.ct-minor-seventh
						.row
							.input-field.col.s12
								//i.material-icons.prefix today
								input(type="date" class="datepicker" placeholder="DD/MM/AAAA")

		footer.container
			.row
				div.col.l6.s6
					p © 2015 Flux. Todos los derechos reservados
				div.col.l3.s3
					p Términos y Condiciones
				div.col.l3.s3
					p Prensa
		
		script(type="text/javascript" src="prod/production.min.js")
		script.
			var diaObj =  !{JSON.stringify(diaObj[0])};

			$(document).ready(function(){

				inicializarMaterial();
				
				inicializarGraficas();

				inicializarSockets();

				var $chart = $('#graph-dia');

				var $toolTip = $chart
					.append('<div class="tooltip"></div>')
					.find('.tooltip')
					.hide();
				
				$chart.on('mouseenter', '.ct-point', function() {
					var $point = $(this),
					value = $point.attr('ct:value'),
					seriesName = $point.parent().attr('ct:series-name');
					$toolTip.html(seriesName + '<br>' + value).show();
				});

				$chart.on('mouseleave', '.ct-point', function() {
					$toolTip.hide();
				});

				$chart.on('mousemove', function(event) {
					$toolTip.css({
						left: (event.offsetX || event.originalEvent.layerX) - $toolTip.width() / 2 - 10,
						top: (event.offsetY || event.originalEvent.layerY) - $toolTip.height() - 40
					});
				});

			});

			function inicializarMaterial(){
				$(".button-collapse").sideNav();
				$('.datepicker').pickadate({
					selectMonths: true,
					selectYears: 5,
					weekdaysLetter: [ 'D', 'L', 'M', 'M', 'J', 'V', 'S' ],
					today: 'Hoy',
					clear: 'Limpiar',
					close: 'Aceptar',
					onClose: function(){
					   $(document.activeElement).blur()
					}
				});
			}

			function inicializarGraficas(){
				graphHora();
				graphMax();

				$("#visitantes-actuales").html(diaObj.actuales)
				$("#visitantes-totales").html(diaObj.entrada)
			}

			function inicializarSockets(){
				
				io.socket.on("entrada", actualizarSockets);
				io.socket.get("/entrada", function(resData, jwres) {})
				io.socket.on("salida", actualizarSockets);
				io.socket.get("/salida", function(resData, jwres) {})

			}

			function actualizarSockets(){
				io.socket.get('/dia?dia='+diaObj.dia, function(resData, jwres){
					diaObj = resData[0];
					inicializarGraficas();
				});
			}

			function graphHora(){
				var data = {};
				data["labels"] = [];
				data["series"] = [];
				var entrada = [];
				var salida = [];
				
				for(var i = 0; i< 24; i++){
					data["labels"][i] =  i+'h';
					entrada.push(diaObj.horaEntradas[0][i]);
					salida.push(diaObj.horaSalidas[0][i]);
				}

				data['series'] = [{
					name: "Entradas",
					data: entrada
				},
				{
					name: "Salidas",
					data: salida
				}];
									
				var options = {
					axisX: {
						showGrid: false,
						showLabel: true
					},
					lineSmooth: Chartist.Interpolation.simple({ divisor: 2 }),
				}

				new Chartist.Line('#graph-dia', data, options);
			}

			function graphMax(){
				var data = {};
				data["labels"] = [];
				data["series"] = [];
				
				data = {
					labels: ['Max', 'Prom'],
					series: [[diaObj.max],[diaObj.prom+1]]
				};

				var options = {
				  seriesBarDistance: 15
				};

				new Chartist.Bar('#graph-max', data);
			}
