doctype html(lang='en')
head
	meta(charset='utf-8')
	|     
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	|     
	meta(name='description', content='')
	|     
	meta(name='author', content='Dashboard')
	|     
	title Contador

	link(type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection") 
	link(type="text/css" rel="stylesheet" href="css/homescreen.css") 

	body.deep-purple.lighten-5.homescreen.container
		main.valign.login-form.z-depth-2
			.logo
				h1
					img(src="img/logoflux.png")
				p Counting People through Intelligence of Things
			br
			br
			form(method="POST" action="/process")
				div.input-field.col.s6
					input#username.validate(type="text" name="username")
					label(for="username") Usuario
				div.input-field.col.s6
					input#password.validate(type="password" name="password")
					label(for="password") Password
				button.waves-effect-waves-light.btn-large.light-blue Login

		footer
			.container
				.row
					div.col.l6.s12
						p © 2015 Flux. Todos los derechos reservados
					div.col.l3.s12
						p Términos y Condiciones
					div.col.l3.s12
						p Prensa
		script(src="js/dependencies/jquery.min.js")
		script(src="js/dependencies/materialize.min.js")
		script. 
			$(document).ready(function() {
				$('select').material_select();
			});