header, main, footer {
	padding-left: 240px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

nav.top-nav .nav-wrapper{
	padding: 0px 20px;
	box-sizing: border-box;
}

.brand-logo img{
	margin-top: 8px;
	height: 48px;
	box-sizing: border-box;
}

@media (max-width: 540px){
	.brand-logo img{
		margin-top: 5px;
		height: 45px;
		box-sizing: border-box;
	}			
}


nav.fixed.light-blue a.button-collapse.show-on-large{
	margin-left: 20px;
}

li.logo{
	margin-top: 15px;
	padding: 20px 10px;
	color: black;
	border-bottom: 1px solid #ddd;
}

li.logo div{
	text-align: center;
}

#slide-out li{
	width: 100%;
	padding-left: 0px; 
	padding-right: 0px; 
}

li div.waves-effect{
	width: 100% !important;
	display: block;
}

li div.waves-effect a{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.side-nav li.logo:hover,
.side-nav li.logo:active{
	background-color: white !important;
}

.circulo{
	margin: 0 auto !important;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	background: url('../img/profile.jpg') center center;
}

.dashboard-panel{
	margin: 30px 0;
	text-align: center;
	padding-bottom: 15px;
}

.graph-dia{
	padding-top: 30px;
}

.actuales{
	color: white;
}

.actuales span{
	font-size: 5em;
}

#graph-dia .ct-series-a .ct-bar,
#graph-dia .ct-series-a .ct-line,
#graph-dia .ct-series-a .ct-slice-donut{
	stroke: #4caf50;
}

#graph-dia .ct-series-b .ct-bar,
#graph-dia .ct-series-b .ct-line,
#graph-dia .ct-series-b .ct-slice-donut{
	stroke: #e91e63;
}

#graph-dia .ct-series-a .ct-point{
	stroke: #388e3c;
	z-index: 100 !important;
	stroke-width: 15px;
}

#graph-dia .ct-series-a .ct-point:hover,
#graph-dia .ct-series-b .ct-point:hover{
	cursor: pointer;
}

#graph-dia .ct-series-b .ct-point{
	stroke: #c2185b;
	z-index: 100 !important;
	stroke-width: 15px;
}

footer p{
	font-size: 11px;
}

.graph-max h6{
	padding: 0 10px;
}

.tooltip{
	background: #616161;
	color: white;
	width: 150px;
	box-sizing: border-box;
	display: inline-block;
}