html {
  height: 100%;
}

.homescreen {
  background: url("../img/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form {
  background: rgba(255,255,255,0.9);
  width: 100%;
  margin: 30px 0;
  padding: 30px 30px;
}

.login-form .logo{
  text-align: center;
}

footer p {
  font-size: 11px;
  color: black;
}

footer{
  background: rgba(255,255,255,0.9);
}

.panel header {
  padding-left: 240px;
}
.panel ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;
}
.panel ul.side-nav.fixed li:hover,
.panel ul.side-nav.fixed li.active {
  background-color: rgba(0,0,0,0.05);
}
@media only screen and (max-width: 992px) {
  .panel header,
  .panel main,
  .panel footer {
    padding-left: 0;
  }
}
